/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 10px;
  background-color: #f8f9fa;
}

#search-bar {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters button {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

main {
  display: flex;
  height: 80vh;
}

#map {
  flex: 2;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.results {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  overflow-y: scroll;
}

.result-card {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
